:root {
  --background-color: #202225;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-form: #36393f;
  --background-primary-hover: #36393f75;
  --background-secondary-hover: #4a4a4a80;
  --background-tertiary: #33353a;
  --background-tertiary-hover: #2e2f35;
  --background-modal: #000000b3;
  --border-header: #181818;
  --text-primary: #fff;
  --text-primary-alt: #bbbbbb;
  --text-secondary: #72767d;
  --text-secondary-hover: #c5c9d4;
  --text-channels: #a1a1a1;
  --text-message: #d4d4d4;
  --text-link: #00aff4;
  --channel-selected: #4f4f4f78;
  --chat-input-background: #40444b;
  --navigation-color-channel: #38aa55;
  --user-status-connected: #3eb65c;
  --user-status-absent: #e6c018;
  --user-status-busy: #d32721;
  --error-color: #ed4c67;
  --primary-color: #5865f2;
  --primary-color-hover: #404eed;
  --secondary-color: #575757;
  --secondary-color-hover: #666666;
  --scrollbar-color-thumb: #202225;
  --scrollbar-color-track: #2f3136;
  --b-radius: 5px;
  --duration-transitions: 0.25s ease-in-out;
  --duration-transitions-tiny: 0.1s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--background-color);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: var(--b-radius);
}

.art-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
