:root {
    --background-color: #202225;
    --backgrond-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-primary-hover: #36393f75;
    --background-secondary-hover: #2f313675;
    --background-tertiary: #33353a;
    --background-tertiary-hover: #2e2f35;
    --border-header: #181818;
    --text-primary: #fff;
    --text-primary-alt: #bbbbbb;
    --text-secondary: #72767d;
    --text-secondary-hover: #c5c9d4;
    --text-channels: #8b8b8b;
    --chat-input-background: #3c3f44;
    --navigation-color-channel: #38aa55;
    --error-color: #b82c2c;
    --primary-color: #5865F2;
    --primary-color-hover: #404EED;
    --b-radius: 5px;
    --duration-transitions: 0.25s ease-in-out;
    --duration-transitions-tiny: 0.1s ease-in-out;
}

* {
    box-sizing:  border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-primary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, button, textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: var(--b-radius);
}